<div class="container">
  <h1 class="display-4 text">Downloads</h1>
  <h4 class="display-6 text">Zu allen Themenbereichen stehen mögliche Stundenverlaufspläne sowie Arbeitsblätter zur Verfügung:</h4>
</div>

<div class="container">
  <div class="row g-5 row-cols-1 row-cols-lg-2 align-items-center">

    <div class="col">
      <a href="" download="TokensInMind_Kryptographie">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Kryptographie</h2>
          </div>
          <div class="text bottom-right">
            Download
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 20 20" style="margin-left: 10px;">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" download="TokensInMind_Blockchain">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Blockchain</h2>
          </div>
          <div class="text bottom-right">
            Download
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 20 20" style="margin-left: 10px;">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" download="TokensInMind_Kryptowährungen">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Kryptowährungen</h2>
          </div>
          <div class="text bottom-right">
            Download
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 20 20" style="margin-left: 10px;">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" download="TokensInMind_NFTs">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Non-Fungible Tokens</h2>
          </div>
          <div class="text bottom-right">
            Download
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 20 20" style="margin-left: 10px;">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
