.nav-link {
  font-size: 24px;
  border-radius: 5px;
}

.nav-link:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--primary-color);
  transform: scale(1.02);
  color: white;
}

a,
p {
  margin: 0 20px;
}

img.resize {
  height: 40%;
  width: 40%;
}

img.coin {
  margin-bottom: 4px;
}
