<div class="container">
  <h1 class="display-4 text">Kryptographie</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion0-tab" data-bs-toggle="tab" data-bs-target="#lektion0-tab-pane"
            type="button" role="tab" aria-controls="lektion0-tab-pane" aria-selected="true">Was ist das?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'kryptographie', 'ceasar')">Caesar-Chiffre</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'kryptographie', 'rsa')">RSA
            Verschlüsselung</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'kryptographie', 'hashing')">Hashing</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'kryptographie', 'sha256')">SHA-256</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist das? -->

        <div class="tab-pane fade show active" id="lektion0-tab-pane" role="tabpanel" aria-labelledby="lektion0-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">Kryptographie ist eine Wissenschaft, die sich damit beschäftigt, Informationen so zu
                verschlüsseln, dass nur die richtige Person sie lesen kann. Das Wort Kryptographie stammt aus dem
                Griechischen und bedeutet "geheimes Schreiben". <br><br> Kryptographie wird in vielen Bereichen
                eingesetzt,
                zum Beispiel in der Kommunikation, im Internet und in der Sicherheit. <br><br>
                <!-- Beispiele für Kryptographie: <br>
                <ul>
                  <li>Ein Geheimdienst möchte eine Nachricht an einen anderen Geheimdienst senden. Die Nachricht wird
                    mit einem geheimen Schlüssel verschlüsselt, so dass nur der Empfänger mit dem richtigen Schlüssel
                    sie lesen kann.</li>
                  <li>Eine Person möchte auf einer Website einkaufen. Die Website verwendet Kryptographie, um die Daten
                    der Person zu schützen, zum Beispiel die Kreditkartennummer.</li>
                  <li>Ein Computersystem verwendet Kryptographie, um die Daten auf dem Computer zu schützen. So können
                    Unbefugte nicht in das System eindringen und die Daten stehlen.</li>
                </ul> -->
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <b>Wie funktioniert Kryptographie?</b> <br> Kryptographie funktioniert mithilfe von Algorithmen. Ein
                Algorithmus ist eine Reihe von Regeln, die eine bestimmte Aufgabe erfüllen. In der Kryptographie werden
                Algorithmen verwendet, um Informationen so zu verschlüsseln, dass nicht Jeder sie einfach lesen kann.
                <br><br>

                <b>Warum ist Kryptographie wichtig?</b> <br> Kryptographie ist wichtig, um die Sicherheit von
                Informationen zu gewährleisten. Ohne Kryptographie könnten Unbefugte leicht an vertrauliche
                Informationen gelangen, zum Beispiel an Bankdaten, Passwörter oder Geschäftsgeheimnisse. <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- Caesar-Chiffre -->

        <div class="tab-pane fade" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Was ist die Caesar-Chiffre?</b> <br>
                Die Caesar-Chiffre ist eine der einfachsten und ältesten Verschlüsselungsmethoden. Sie wurde vor über
                2000 Jahren
                von Julius Caesar verwendet, um geheime Nachrichten zu verschicken. <br><br>

                <b>Wie funktioniert die Caesar-Chiffre?</b> <br>
                Die Caesar-Chiffre nutzt zwei Alphabete: Ein Originalalphabet und ein verschobenes Alphabet.
                Stell dir die Alphabete direkt untereinander vor und verschiebe nun das Untere.
                So wird in einer Nachricht jeder Buchstabe durch einen anderen Buchstaben ersetzt. Die
                Verschiebung der Buchstaben wird im Vorraus bereits festgelegt, dafür steht der geheime Schlüssel.
                <br><br>

                <b>Zum Beispiel:</b> <br>
                <ul>
                  <li>Wenn der Schlüssel 3 ist, wird das Alphabet um drei Stellen verschoben. Dadurch wird das A durch
                    ein D und das B
                    durch ein E ersetzt usw.</li>
                  <li>Ist der Schlüssel 5, wird das A durch ein F ersetzt, das B
                    durch ein G usw.</li>
                </ul> <br>
              </div>

              <div class="col">
                <div class="img">
                  <img class="img" src="../assets/Caesar-Verschluesselung.png"> <br><br>
                  <!-- Image Source:https://wiki.opencaching.de/index.php/Datei:Caesar-Verschluesselung.svg -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <b>Ein Beispiel</b> <br>
                Wollen wir den Text <b>"Hallo Welt!"</b> mit dem Schlüssel 3 verschlüsseln, müssen wir jeden Buchstaben
                der Nachricht um drei Stellen verschieben. <br>
                Der verschlüsselte Text sieht dann wie folgt aus: <b>"Kdoor Zhow!"</b> <br>
                Nehmen wir nun 5 als unseren Schlüssel, wird aus unserem Text <b>"Hallo Welt!"</b> die verschlüsselte
                Nachricht:<b>"Mfqqt bjqy"</b>. <br>
                Wenn du willst, kannst du mit deinem Sitznachbarn das Ganze einmal ausprobieren. Schau einfach einmal in
                unsere Übungen.
                <br><br>

                <b>Wie kann man die Caesar-Chiffre entschlüsseln?</b> <br>
                Um die Caesar-Chiffre zu entschlüsseln, muss man den Schlüssel kennen bzw. wissen, um wieviele Stellen
                der Text verschoben wurde. Wenn man den Schlüssel
                kennt, kann man jeden Buchstaben im verschlüsselten Text durch den ursprünglichen Buchstaben ersetzen.
                Ist der Schlüssel wie im Beispiel 3, so müssen wir jeden Buchstaben der verschlüsselten Nachricht um 3
                Stellen zurück verschieben und erhalten den Originaltext. <br><br>

                <b>Ist die Caesar-Chiffre sicher?</b> <br>
                Die Caesar-Chiffre ist keine sichere Art der Verschlüsselung. Bspw. kann man einfach alle Schlüssel
                ausprobieren, bis die Nachricht wieder Sinn ergibt.
                Diese Art nennt man einen Brute-Force-Angriff. Dabei geht es darum die Verschlüsselung mit bloßer Kraft
                (brute force) zu knacken.<br>
                Ein weiterer Nachteil der Caesar-Chiffre ist das jeder Buchstabe in einer Nachricht immer gleich
                verschlüsselt wird.
                Das Problem dabei ist, das einige Buchstaben viel häufiger vorkommen als Andere.
                Im Deutschen ist bspw. der Buchstabe E mit Abstand der Häufigste. Weiß man darüber Bescheid, kann man
                bei längeren Texten schnell vermuten, was der Schlüssel sein könnte.
                <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- RSA-Verschlüsselung -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Was ist RSA Verschlüsselung?</b> <br>
                RSA ist eine Methode, um Informationen zu verschlüsseln. Das Ziel? Nur der richtige Empfänger soll
                sie lesen können.
                Die RSA-Verschlüsselung ist sehr sicher und wird in vielen Bereichen eingesetzt, zum Beispiel im
                Internet. <br><br>

                <b>Wie funktioniert RSA Verschlüsselung?</b> <br>
                RSA nutzt zwei Schlüssel, einen öffentlichen Schlüssel und einen privaten Schlüssel.
                Der öffentliche Schlüssel kann von jedem verwendet werden, um Informationen zu verschlüsseln.
                Der private Schlüssel wird geheim gehalten und wird nur vom Empfänger verwendet, um die Informationen
                wieder zu entschlüsseln. <br>
                RSA funktioniert ein bisschen wie ein Schloss mit zwei Schlüsseln. Der
                öffentliche Schlüssel ist wie ein Schlüssel, der das Schloss nur von Außen öffnen kann. Der
                private Schlüssel kann das Schloss nur von Innen öffnen. <br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <b>Ein Beispiel</b> <br>
                Sagen wir, wir möchten eine Nachricht an einen Freund schicken. Wir verwenden den öffentlichen Schlüssel
                unseres Freundes, um die Nachricht zu verschlüsseln.
                Die verschlüsselte Nachricht kann nun zwar abgefangen werden, aber sie entschlüsseln und den Inhalt
                lesen kann man nur mit dem privaten Schlüssel.
                So kann sichergestellt werden, dass nur unser Freund die Nachricht lesen kann.
                Dieses System zweier Schlüssel wird z.B. auch bei Messengern wie Whatsapp oder Signal verwendet.<br><br>

                <b>Ist RSA Verschlüsselung sicher?</b> <br>
                RSA ist sehr sicher. Selbst mit den modernsten Computern ist es sehr schwierig, die Nachricht ohne den privaten Schlüssel zu
                knacken. <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- Hashing -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Was ist Hashing?</b> <br>
                Kurzgesagt ist Hashing eine Methode, um ganze Mengen von Informationen in eine kurze Kette aus wirren
                Zahlen und Buchstaben umzuwandeln.
                Das nennt man dann den Hashwert und eigentlich ist es nur wie eine digitale Unterschrift. <br><br>

                <b>Wie funktioniert Hashing?</b> <br>
                Beim Hashing werden die Informationen durch eine mathematische Formel gejagt: Die Hashfunktion.
                Als Ergebnis erhält man den Hashwert: Eine wirre Kombination aus Buchstaben, Zahlen usw.
                Anders als bei der RSA-Verschlüsselung, ist es nicht möglich nach dem Hashing wieder an die
                Informationen zu kommen. <br>
                Der Hashwert ist außerdem einzigartig. Das heißt das auch nur durch die kleinsten Änderungen ein ganz
                anderer Hashwert entsteht.
                Deshalb kann er zur Identifizierung der Information genutzt werden, also wie eine Unterschrift, oder ein
                Fingerabdruck! <br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <b>Ein Beispiel</b> <br>
                Schauen wir uns einmal genauer an, wie Hashing genutzt wird, um Passwörter zu speichern:
                Wir erstellen uns einen Account auf einer Website und suchen uns als Passwort "meintollespasswort" aus.
                Die Website will nicht wissen was unser Passwort tatsächlich ist, darum wird auf das Passwort eine
                Hashfunktion angewendet
                und es wird nur der dadurch entstandene Hashwert gespeichert.
                Dieser könnte z.B. so aussehen: "1cc73d8853e076cea70eb5b667e0e26dda9b7cf3". <br>
                Nun möchten wir uns, ein paar Tage später, erneut in unseren Account einloggen und schreiben
                ausversehen: "mein<b><u>z</u></b>ollespasswort".
                Der Text wird gehasht und es ergibt sich der Hashwert:"43b8d4f0c155acd995ced147e80bb7e5c901ac75".
                Wie schnell zu sehen ist, sind das zwei sehr unterschiedliche Hashwerte. Das sieht auch die Website: Uns
                wird der Zugriff verweigert und wir müssen das Passwort erneut eintippen. <br>
                Das ist natürlich eine tolle Sache. So muss die Website unser echtes Passwort nicht speichern und
                trotzdem können wir uns mit unserem Passwort anmelden. Wenn also einmal jemand bei der Website
                "einbricht", dann sieht der Einbrecher nicht unser Passwort sondern nur den Hashwert und kommt nicht an
                unsere Daten heran. <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- SHA-256 -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Was ist SHA?</b> <br>
                SHA ist eine Art von Hashing-Algorithmus, der Name steht für "Secure Hash Algorithm".
                Es gibt eine Reihe von SHA Algorithmen, SHA-256 ist aber einer der Beliebtesten, weil er eine gute
                Balance zwischen Sicherheit und Schnelligkeit bietet.
                <br><br>

                <b>Wie funktioniert SHA-256?</b> <br>
                SHA-256 nutzt eine Hashfunktion um einen Hashwert zu erzeugen, der immer 256 Bit lang ist, was in der
                Informatik 64 Zeichen entspricht.
                So sind die Hashwerte immer gleich lang, das lässt sich einfacher Speichern. <br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <b>Wo wird SHA eingesetzt?</b> <br>
                Hashfunktionen, wie SHA werden überall eingesetzt. Hier sind ein paar Beispiele:
                <ul>
                  <li>In der Computersicherheit wird SHA-256 verwendet, um Passwörter zu speichern. Der Vorteil von
                    SHA-256? Alle Hashwerte sind gleich lang, das erleichtert das Speichern in der Datenbank.</li>
                  <li>Für das Internet wird SHA genutzt, um eine sichere Verbindung zwischen dir und dem Server
                    herzustellen.</li>
                  <li>SHA-256 wird verwendet, um zu überprüfen, dass Daten nicht verändert wurden. So kann geschaut
                    werden, ob eine Datei noch das Original ist.
                    Andersherum kann auch geschaut werden, ob sich unter den Informationen etwas befindet, was dort
                    definitv nicht hineingehört, wie z.B. Viren!</li>
                  <li>SHA-256 wird auch für Blockchains genutzt, dazu aber im anderen Kapitel mehr...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
