<div class="container">
  <h1 class="display-4 text">Kryptographie</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="uebung1-tab" data-bs-toggle="tab" data-bs-target="#uebung1-tab-pane"
            type="button" role="tab" aria-controls="uebung1-tab-pane" aria-selected="true">Caesar-Chiffre</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung2-tab" data-bs-toggle="tab" data-bs-target="#uebung2-tab-pane"
            type="button" role="tab" aria-controls="uebung2-tab-pane" aria-selected="false">RSA Verschlüsselung</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung3-tab" data-bs-toggle="tab" data-bs-target="#uebung3-tab-pane"
            type="button" role="tab" aria-controls="uebung3-tab-pane" aria-selected="false">Hashing</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung4-tab" data-bs-toggle="tab" data-bs-target="#uebung4-tab-pane"
            type="button" role="tab" aria-controls="uebung4-tab-pane" aria-selected="false">SHA 256</button>
        </li> -->
      </ul>
      <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade show active" id="uebung1-tab-pane" role="tabpanel" aria-labelledby="uebung1-tab"
          tabindex="0">
          <div class="container tabs">
            <form action="">
              <h4 class="text">Nachricht verschlüsseln:</h4>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <label for="" class="label">Text:</label>
                </div>
                <div class="col">
                  <input type="text" class="input" (change)="getTextEncode($event)">
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <label for="" class="label">Verschiebung</label>
                </div>
                <div class="col">
                  <select formControlName="number" (change)="getSelectEncode($event)" [value]="">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                  </select>
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <button class="btn btn-primary" type="button" (click)="encode()">
                    Verschlüsseln
                  </button>
                </div>
                <div class="col" *ngIf="encoded">
                  {{encoded}}
                </div>
              </div>
            </form>

            <form action="">
              <h4 class="text">Nachricht entschlüsseln:</h4>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <label for="" class="label">Text:</label>
                </div>
                <div class="col">
                  <input type="text" class="input" (change)="getTextDecode($event)">
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <label for="" class="label">Verschiebung</label>
                </div>
                <div class="col">
                  <select formControlName="number" (change)="getSelectDecode($event)" [value]="">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                  </select>
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <button class="btn btn-primary" type="button" (click)="decode()">
                    Entschlüsseln
                  </button>
                </div>
                <div class="col" *ngIf="decoded">
                  {{decoded}}
                </div>
              </div>
              <h4>Quiz:</h4>
              <div class="row">
                <div class="col">
                  <p>Erinnerst du dich noch an unsere Lektion zur Caesar-Chiffre? Wenn ja, kannst du unsere geheime Nachricht auch ohne den Schlüssel zu kennen entschlüsseln?</p>
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  RYRSNAGRA RFFRA TREAR YRPXRER ORRERA
                </div>
                <div class="col">
                  <input type="text" class="input" (change)="getSolution($event)">
                </div>
              </div>
              <div class="row g-2 row-cols-1 row-cols-lg-2">
                <div class="col-3">
                  <button class="btn btn-primary" type="button" (click)="riddle()">
                    Lösung testen
                  </button>
                </div>
                <div class="col">
                  <p *ngIf="!riddleSolved">Das ist nicht richtig</p>
                  <p *ngIf="riddleSolved">Super gelöst!</p>
                </div>
              </div>
            </form>
          </div>
        </div>


        <div class="tab-pane fade" id="uebung2-tab-pane" role="tabpanel" aria-labelledby="uebung2-tab" tabindex="0">
          <div class="row">
            <p>RSA ist eine Methode zur sicheren Übertragung von Nachrichten. Es verwendet zwei Schlüssel: einen
              öffentlichen Schlüssel zum Verschlüsseln und einen privaten Schlüssel zum Entschlüsseln. Stell dir vor,
              der öffentliche Schlüssel ist ein Schloss, das jeder benutzen kann, um eine Nachricht zu verschließen,
              aber nur derjenige mit dem privaten Schlüssel kann das Schloss wieder öffnen.</p> <br>
            <p>Sollte es zu Problemen kommen, dann lass dir einfach ein neues Schlüsselpaar generieren</p>
          </div>
          <div class="row row-cols-1 row-cols-lg-2">
            <h4>Generiere dein Schlüsselpaar</h4>
            <div class="col">
              <button class="btn btn-primary" type="button" (click)="generateKeys()">Schlüssel generieren</button>
            </div>
            <div class="col">
              <div *ngIf="publicKey && privateKey">
                <p>Öffentlicher Schlüssel: {{publicKey}}</p>
                <p>Privater Schlüssel: {{privateKey}}</p>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-lg-2">
            <h4>Nachricht verschlüsseln</h4><br>
            <p>Hier wird nun dein Text mit dem öffentlichen Schlüssel verschlüsselt:</p><br>
            <div class="col-3">
              <label for="plainText" class="label">Nachricht:</label>
            </div>
            <div class="col">
              <input type="text" id="plainText" class="input" (input)="getPlainText($event)"
                [disabled]="!keysGenerated">
            </div>
          </div>
          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col-3">
              <button class="btn btn-primary" type="button" (click)="encrypt()"
                [disabled]="!keysGenerated || !plainText">Verschlüsseln</button>
            </div>
            <div class="col" *ngIf="encryptedMessage">
              Verschlüsselte Nachricht: {{encryptedMessage}}
            </div>
          </div>
          <div class="row row-cols-1 row-cols-lg-2">
            <h4>Nachricht entschlüsseln</h4><br>
            <p>Und hier wird die verschlüsselte Nachricht genommen und mit deinem privaten Schlüssel wieder
              entschlüsselt:</p><br>
            <div class="col-3">
              <button class="btn btn-primary" type="button" (click)="decrypt()"
                [disabled]="!encryptedMessage">Entschlüsseln</button>
            </div>
            <div class="col" *ngIf="decryptedMessage">
              Entschlüsselte Nachricht: {{decryptedMessage}}
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="uebung3-tab-pane" role="tabpanel" aria-labelledby="uebung3-tab" tabindex="0">
          <div class="row">
            <div class="col">
              <div class="text">
                In diesem Beispiel lassen wir deine Daten einfach nur durch den Hash-Algorithmus (SHA 256) laufen. Wie
                du siehst
                geht das Hashen super schnell. Gleichzeitig solltest du auch erkennen können, dass bereits die
                kleinsten
                Änderungen in deiner Eingabe einen riesigen Unterschied haben können.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text">
                Eingabe:
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input (input)="computeHash($event.target['value'])" type="text" class="input w-100">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text">
                Hash:
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input disabled value="{{hash1}}" type="text" class="input w-100">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text">
                Das Hashing mit SHA 256 ist eine sogenannte "Einwegfunktion". Das heißt, dass zwar bei der Eingabe des
                gleichen Textes immer auch das gleiche Ergebnis herauskommt, man anhand des Ergebnisses jedoch niemals
                herausfinden kann, was der Text war.
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="uebung4-tab-pane" role="tabpanel" aria-labelledby="uebung4-tab" tabindex="0">
          ...
        </div>


      </div>
    </div>
