<div class="container">
  <h1 class="display-4 text">Anmelden</h1>
</div>

<div class="container">
  <p class="text">
    Speichere dir dein Passwort und deinen Nutzernamen gut ab oder schreibe dir die Daten auf. <br> Es gibt keine
    Möglichkeit deine Daten zurückzusetzen.
  </p>
  <div class="row align-items-center">
    <div class="col text">
      <form (ngSubmit)="signUpOrLogin()" [formGroup]="signInForm">
        <div class="row">
          <div class="col">
            <label class="text">Nutzername</label> <br>
            <input type="text" class="input" id="username" formControlName="username">
            <div *ngIf="signInForm.get('username').errors && (signInForm.get('username').dirty || signInForm.get('username').touched)">
              <div *ngIf="signInForm.get('username').hasError('required')" class="danger">Nutzername ist erforderlich.</div>
              <div *ngIf="signInForm.get('username').hasError('minlength')" class="danger">Nutzername muss mindestens 3 Zeichen lang sein.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="text">Passwort</label> <br>
            <input [type]="passwordVisible ? 'text' : 'password'" class="input" id="password" formControlName="password">
            <button class="btn btn-link text" type="button" (click)="togglePasswordVisibility()">
              <i class="material-icons" style="font-size: 18px;">{{passwordVisible ? 'visibility_off' : 'visibility'}}</i>
            </button>
            <div *ngIf="signInForm.get('password').errors && (signInForm.get('password').dirty || signInForm.get('password').touched)">
              <div *ngIf="signInForm.get('password').hasError('required')" class="danger">Passwort ist erforderlich.</div>
              <div *ngIf="signInForm.get('password').hasError('minlength')" class="danger">Passwort muss mindestens 8 Zeichen lang sein.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="submit" [disabled]="!signInForm.valid">Anmelden</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
