<div class="container">
  <h1 class="display-4 text">Lektionen</h1>
</div>

<div class="container">
  <div class="row g-5 row-cols-1 row-cols-lg-2 align-items-center">

    <div class="col">
      <a routerLink="kryptographie" routerLinkActive="router-link-active">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-text">Kryptographie</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text"> Caesar-Chiffre </li>
              <li class="list-group-item text"> RSA Verschlüsselung </li>
              <li class="list-group-item text"> Hashing </li>
              <li class="list-group-item text"> SHA 256 </li>
            </ul>
          </div>
          <div class="text bottom-right">
            Öffnen
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="blockchain" routerLinkActive="router-link-active">
        <div class="card primary-color" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Blockchain</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text"> Was ist eine Blockchain? </li>
              <li class="list-group-item text"> Ein einzelner Block </li>
              <li class="list-group-item text"> NONCE </li>
            </ul>
          </div>
          <div class="text bottom-right">
            Öffnen
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="kryptowaehrungen" routerLinkActive="router-link-active">
        <div class="card primary-color bottom_row" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Kryptowährungen</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text"> Noch mehr Krypto? </li>
              <li class="list-group-item text"> Was kann das Wert sein? </li>
              <li class="list-group-item text"> Thema 3 </li>
              <li class="list-group-item text"> Thema 4 </li>
            </ul>
          </div>
          <div class="text bottom-right">
            Öffnen
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="nfts" routerLinkActive="router-link-active">
        <div class="card primary-color bottom_row last_element" style="padding: 20px;">
          <div class="card-body">
            <h2 class="card-title">Non-Fungible Tokens</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text"> Thema 1 </li>
              <li class="list-group-item text"> Thema 2 </li>
              <li class="list-group-item text"> Thema 3 </li>
              <li class="list-group-item text"> Thema 4 </li>
            </ul>
          </div>
          <div class="text bottom-right">
            Öffnen
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
