<div class="container">
  <h1 class="display-4 text">Kryptowährungen</h1>
</div>

<div class="container">
  <div class="align-items-center">
    <div class="text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="true"
            (click)="setVisited('lektionen', 'currency', 'currency')">Was ist das?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'value')">Was kann das Wert
            sein?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'differences')">Was für Kryptowährungen gibt es?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'dangers')">Gibt es da Gefahren?</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist das? -->

        <div class="tab-pane fade show active" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row textbox row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Noch mehr Krypto?</b> <br>
                Kryptowährungen sind genau das was drin steckt. Krypto kommt von der Kryptographie, denn auch hier spielt das Geheimhalten
                von Informationen eine große Rolle. Kryptowährungen bieten also die Möglichkeit mit Geld sicher umzugehen, während alle Informationen geheim bleiben.
                Plus, Kryptowährungen sind digital. Man kann genauso wie mit Euro oder Dollar damit bezahlen, aber in der Hand halten kann man sie
                nicht.<br><br>

                Eine weitere Besonderheit der Kryptowährung ist, dass sie von vielen Dingen abhängig sind, jedoch nicht vom Staat oder irgendwem sonst.
                So kann mit Kryptowährungen Geld verschickt werden, ohne dass man eine Überweisung über die Bank
                macht.<br>
                Die Idee: eine freie und digitale Währung, die gleichzeitig auch komplett anonym ist.<br><br>
              </div>

              <div class="col"></div>
            </div>
            <div class="row textbox">
              <div class="col">
                <b>Wie schafft man das?</b> <br>
                Das ist tatsächlich eine gute Frage, denn eigentlich wird ja immer festgehalten, was ihr für welchen Preis kauft und wann.
                Dafür gibt es die Rechnung, die alle Infos festhält und den Kauf bestätigt.
                Das Gleiche gibt es auch für Kryptowährungen und zwar macht man das mit Blockchains.
                Die bieten sich dafür an, weil man in einem Block viele Informationen speichern kann und diese nur sehr schwer gefälscht werden können.
                Bei den Kryptowährungen werden die „Rechnungen“, oder besser gesagt die Transaktionen, in einen Block geschrieben.
                Wenn ein solcher Block vollgeschrieben ist, muss dieser verschlüsselt werden. Sonst wäre daran ja nichts geheim.
                <br><br>

                <!--
                Kryptowährungen nutzen Blockchains. In einer Blockchain können sehr viele Informationen gespeichert
                werden.
                Das kann bei Kryptowährungen genutzt werden, um Transaktionen aufzuschreiben, also jeder Kauf/Verkauf
                wird in einen Block geschrieben.
                Durch einen Mechanismus wird sichergestellt, dass die Information auf jedem Computer auf dem gleichen
                Stand sind. So können die Infos nicht verändert werden.
                Außerdem sind die Daten dezentral gespeichert, also nicht nur an einem Ort, sondern auf ganz vielen
                Computern.
                <br><br>-->
              </div>
              <div class="imgbox">
                  <img class="img" src="../assets/KI_Bilder/blockchain1.png"> <br><br>
            </div>
            </div>
            <div class="row textbox">
              
              <div class="imgbox">
                  <img class="img" src="../assets/KI_Bilder/blockchain4.png"> <br><br>
            </div>
            <div class="col">
              <b>Wie kann man das Ganze aber für die Ewigkeit geheim machen?</b><br>
              Vielleicht erinnert ihr euch an die Hashfunktionen. Ihre Aufgabe ist es, Daten in einen Hash zu wandeln, aus dem man aber nicht wieder die Daten herausbekommt.
              Die Beste Möglichkeit ist zu raten, was der Inhalt war, damit man den gleichen Hash herausbekommt.
              Damit das ganze aber nicht leicht zu raten ist kommt eine Herausforderung dazu.
              Es wird nämlich im Vorhinein festgelegt, wie der Hash auszusehen hat.
              Z.B. Soll der Hash des ersten Blocks mit 20 Nullen anfangen, des Zweiten mit 21 Nullen.
              Das kann ziemlich lange dauern den richtigen Hash zu finden, weil man auch hier eigentlich nur ausprobieren kann, bis man aus Zufall den Richtigen findet. 
              <br><br>
          
            </div>
          </div>
        </div>
      </div>
        <!-- Was kann das Wert sein? -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Wie kann das was Wert sein?</b><br>
                Einen Wert für Kryptowährungen festzulegen ist tatsächlich sehr schwierig, weil es sich um Etwas rein
                digitales handelt.
                Bei Gold z.B. ist das sehr einfach, weil das Material einen bestimmten Wert hat. Wie macht man das aber
                bei etwas, das es nichteinmal in Echt gibt?
                Tatsächlich wird der Preis bei Kryptowährungen allein von den Nutzern bestimmt.
                Jeder, der kauft oder verkauft, entscheidet wieviel er selbst bezahlen oder bekommen möchte. Der Wert
                der Währung hängt also nur vom Markt ab.
                <br>
                Hier sind ein paar wichtige Punkte, die den Wert beeinflussen:
                <ol>
                  <li><b>Angebot und Nachfrage:</b> Wenn viele Leute eine bestimmte Kryptowährung kaufen möchten und es
                    nicht so
                    viele davon gibt, steigt der Preis. Umgekehrt, wenn viele Leute verkaufen wollen und wenige kaufen,
                    sinkt der Preis.</li>

                  <li><b>Nutzung:</b> Der Wert kann auch davon abhängen, wie nützlich die Kryptowährung ist. Einige
                    Kryptowährungen
                    haben spezielle Anwendungen oder Technologien, die sie wertvoller machen.</li>

                  <li><b>Marktstimmung:</b> Die Stimmung auf dem Markt spielt eine große Rolle. Wenn die Leute denken,
                    dass eine
                    Kryptowährung in Zukunft viel wert sein wird, kaufen sie mehr davon, was den Preis steigen lässt.
                  </li>

                  <li><b>Medien und Nachrichten:</b> Positive oder negative Berichte in den Nachrichten können den Wert
                    ebenfalls
                    beeinflussen. Wenn es viele gute Nachrichten über eine Kryptowährung gibt, steigt oft der Preis.
                    Schlechte Nachrichten können das Gegenteil bewirken.</li>

                  <li><b>Regulierungen:</b> Gesetze und Regeln in verschiedenen Ländern können den Wert beeinflussen.
                    Wenn ein Land
                    Kryptowährungen stark einschränkt oder verbietet, kann das den Wert senken.</li>
                </ol>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <b>Beispiele</b> <br>
                Um mal eine Vorstellung zu bekommen, wieviel verschiedene Kryptowährungen Wert sind, sind hier ein paar
                Beispiele für euch:
                <ul>
                  <li>Die bekannteste Kryptowährung "Bitcoin": Vor einem Jahr kostete 1 Bitcoin schon 25.790€, heute ist
                    1 Bitcoin aber ganze 59.321€ wert!</li>
                  <li>Auch weit verbreitet ist "Ethereum": 1 Ethereum ist fast 3000€ wert.</li>
                  <li>Eine Währung die sich nicht so gut geschlagen hat: Der Dogecoin ist gerademal 15 Cent wert. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Was für Kryptowährungen gibt es? -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                Es gibt viele verschiedene Kryptowährungen, jede mit ihren eigenen Besonderheiten und
                Anwendungsbereichen. Bitcoin war die erste Kryptowährung und wurde 2009 eingeführt. Bitcoin wurde
                geschaffen,
                um eine Art digitales Geld zu sein und sichere, schnelle Transaktionen ohne die Notwendigkeit
                einer Bank zu ermöglichen. Bitcoin ist heute die bekannteste und am weitesten verbreitete Kryptowährung.
                <br><br>

                Ethereum hingegen bietet mehr als nur einfache Transaktionen. Es ermöglicht sogenannte Smart Contracts,
                selbst ausführende Verträge, bei denen die Bedingungen direkt im Code festgelegt sind. Diese Funktion
                hat dazu geführt, dass viele andere Kryptowährungen und Projekte auf der Ethereum-Plattform basieren.
                <br><br>

                Ripple wurde speziell entwickelt, um besonders schnelle und kostengünstige internationale Transaktionen
                zu ermöglichen. Es arbeitet eng mit Banken und Finanzinstituten zusammen, um deren Zahlungssysteme zu
                verbessern. <br><br>


              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                Litecoin ist eine schnellere und kostengünstigere Version von Bitcoin. Obwohl es viele ähnliche
                Eigenschaften wie Bitcoin hat, werden Transaktionen bei Litecoin schneller verarbeitet. <br><br>

                Cardano legt großen Wert auf wissenschaftliche Entwicklung und überprüfte Technologien. Es
                wurde entwickelt, um besonders sicher und nachhaltig zu sein, was es von vielen anderen Kryptowährungen
                unterscheidet. <br><br>

                Polkadot ermöglicht es verschiedenen Blockchains, miteinander zu kommunizieren und Daten auszutauschen.
                Diese Fähigkeit zur Verbindung und Integration macht Polkadot besonders flexibel für neue
                Kryptowährungen und Projekte. <br><br>

                Zusammengefasst, jede Kryptowährung hat ihre eigene Technologie und ihren eigenen Zweck. Einige sind für
                schnelle und kostengünstige Zahlungen gedacht, andere für komplexe Anwendungen wie Smart Contracts oder
                die Verbindung verschiedener Blockchains. Transaktionsgeschwindigkeit, Kosten und Sicherheitsmaßnahmen
                können stark variieren, was jede Kryptowährung einzigartig macht.
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row">
              <div class="col">
                Es gibt verschiedene Gefahren und potenzielle Probleme bei Kryptowährungen, die man kennen sollte. Eines
                der größten Risiken ist die hohe Volatilität. Das bedeutet, dass die Preise von Kryptowährungen sehr
                stark schwanken können. Ein Tag kann ein Bitcoin viel wert sein, am nächsten Tag kann der Wert stark
                sinken. Diese Schwankungen können für Leute, die in Kryptowährungen investieren, zu großen Verlusten
                führen.<br><br>

                Ein weiteres Problem ist die Sicherheit. Obwohl Kryptowährungen mit fortschrittlichen Techniken wie
                Kryptographie geschützt sind, gibt es immer wieder Fälle von Hacks und Betrügereien. Wenn jemand den
                Zugang zu deiner digitalen Geldbörse, dem sogenannten Wallet, bekommt, kann er dein gesamtes Geld
                stehlen. Es gibt auch Betrugsmaschen, bei denen Leute überzeugt werden, in falsche
                Kryptowährungsprojekte zu investieren.<br><br>

                Ein drittes Problem sind Regulierungen. In vielen Ländern gibt es keine klaren Regeln für den Umgang mit
                Kryptowährungen. Das bedeutet, dass sich die gesetzlichen Bestimmungen schnell ändern können, was
                Unsicherheit schafft. Manchmal entscheiden sich Regierungen auch, Kryptowährungen ganz zu verbieten, was
                zu einem plötzlichen Wertverlust führen kann.<br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                Die Nutzung von Kryptowährungen erfordert zudem technisches Wissen. Wenn man nicht genau weiß, wie man
                sicher mit ihnen umgeht, kann man leicht Fehler machen, die zu Verlusten führen. Zum Beispiel kann man
                seine Zugangsdaten verlieren oder sie an unsicheren Orten speichern.<br><br>

                Auch Umweltprobleme spielen eine Rolle. Besonders Bitcoin benötigt viel Energie für das sogenannte
                Mining, den Prozess, bei dem neue digitale Münzen erzeugt und Transaktionen bestätigt werden. Das hat zu Kritik
                geführt, da der Energieverbrauch sehr hoch ist und negative Auswirkungen auf die Umwelt haben kann.<br><br>

                Zusammengefasst gibt es bei Kryptowährungen Risiken wie hohe Preisschwankungen, Sicherheitsprobleme,
                fehlende Regulierungen, technische Herausforderungen und Umweltbelastungen. Diese Punkte machen
                Kryptowährungen zu einer riskanten, aber auch potenziell lohnenden Technologie.
              </div>
            </div>
          </div>
        </div>

      

    </div>
  </div>
</div>
