<div class="container">
  <h1 class="display-4 text">Kryptowährungen</h1>
</div>

<div class="container">
  <div class="align-items-center">
    <div class="text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="true"
            (click)="setVisited('lektionen', 'currency', 'currency')">Was ist das?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'value')">Was kann das Wert
            sein?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'differences')">Was für Kryptowährungen gibt es?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'currency', 'dangers')">Gibt es da Gefahren?</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist das? -->

        <div class="tab-pane fade show active" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="col">
                <b>Noch mehr Krypto?</b> <br><br>
                Kryptowährungen sind genau das was drin steckt. Das <b>Krypto</b> kommt von der <b>Kryptographie</b>, denn auch
                hier
                spielt das <b>Geheimhalten von Informationen</b> eine große Rolle.
                Und eine Währung ist es wie sonst jede Andere auch, ein Mittel mit dem man bezahlen kann.
                Kryptowährungen bieten also die Möglichkeit mit Geld sicher
                umzugehen, während alle Informationen geheim bleiben.
                Plus, <b>Kryptowährungen sind digital</b>. Man kann genauso wie mit Euro oder Dollar damit bezahlen, in
                der Hand halten kann man aber sie nicht.<br><br>

                Einzigartig an Kryptowährung ist auch, dass sie nicht vom Staat oder irgendwem sonst abhängig sind.
                So kann mit Kryptowährungen Geld verschickt werden, ohne dass man eine Überweisung über die Bank
                macht.<br>
                Die Idee: <b>Eine freie und digitale Währung, die gleichzeitig auch komplett <div class="tooltipword">
                  anonym
                  <span class="tooltiptext"><b>Anonym</b> bedeutet, dass niemand herausfinden kann, wer du bist</span>
                </div> ist.</b><br><br>

              </div>
              <div class="imgbox">
                <img class="img" src="../assets/KI_Bilder/00171-3218141584.png">
              </div>
            </div>
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00118-2050444954.png"> <br><br>
              </div>
              <div class="col">
                <b>Wie schafft man das?</b> <br><br>
                Schauen wir uns dafür einmal an, wie das in der echten Welt abläuft:
                Wenn ihr etwas kauft wird ja eigentlich immer festgehalten, welchen
                Preis es gekostet hat und wann/wo ihr es gekauft habt.
                Das alles wird auf die Rechnung gedruckt, die den Kauf auch nachweist, sodass ihr damit das Produkt
                gegebenenfalls auch zurückgeben könnt.
                <b>Die Rechnung bestätigt also den Kauf und ist somit ein Beweis mit allen wichtigen Daten.</b>
                Das Gleiche gibt es auch für Kryptowährungen, nur hier macht man das nicht mit einer "Rechnung", sondern
                mit <b>Blockchains</b>.<br><br>
                Blockchains bieten sich dafür an, weil man in einem Block viele Informationen speichern kann und diese
                nur sehr schwer gefälscht werden können.
                Bei Kryptowährungen nutzt man das, um ganz viele <div class="tooltipword">Transaktionen
                  <span class="tooltiptext"><b>Transaktion</b><br> Ein Kauf / Verkauf der stattfindet</span>
                </div>
                , also "Rechnungen", in einen solchen Block geschrieben. Wenn ein Block vollgeschrieben wurde, wird
                dieser versiegelt.
                <b>Der Block wird dabei sicher verschlüsselt</b>, sonst wäre an Kryptowährung ja nichts geheim.
                <br><br>

                <!--
                Kryptowährungen nutzen Blockchains. In einer Blockchain können sehr viele Informationen gespeichert
                werden.
                Das kann bei Kryptowährungen genutzt werden, um Transaktionen aufzuschreiben, also jeder Kauf/Verkauf
                wird in einen Block geschrieben.
                Durch einen Mechanismus wird sichergestellt, dass die Information auf jedem Computer auf dem gleichen
                Stand sind. So können die Infos nicht verändert werden.
                Außerdem sind die Daten dezentral gespeichert, also nicht nur an einem Ort, sondern auf ganz vielen
                Computern.
                <br><br>-->
              </div>

            </div>
            <div class="row textbox">


              <div class="col">
                <b>Wie kann man das Ganze aber für die Ewigkeit geheim machen?</b><br><br>
                Vielleicht erinnert ihr euch noch an die <b>Hashfunktionen</b>. Ihre Aufgabe war es, Daten in einen Hash
                zu wandeln.
                So können Daten gespeichert werden, ohne dass man sie wieder an sie herankommt.
                Die Beste Möglichkeit an den Inhalt zu gelangen, ist einfach <b>zu raten</b> was der Inhalt ist, <b>bis man aus
                Zufall auf den gleichen
                Hash kommt.</b>
                Damit das Ganze aber nicht leicht zu Raten ist, kommt noch eine zusätzliche Herausforderung dazu.
                Und zwar <b>wird im Vorhinein festgelegt, wie der Hash aussehen soll.</b><br>
                Bei einer Reihe von Blöcken können wir zum Beispiel festlegen:<br>
                Der Hash vom ersten Block soll mit einer Null anfangen, der Hash des
                zweiten Blocks mit zwei Nullen, der dritte Hash mit drei Nullen und so weiter...<br>
                Nun kann es sehr sehr lange dauern den richtigen Hash zu finden. Denn auch hier kann man nur
                herumprobieren, bis man aus Zufall den Richtigen Hash findet.
                <br><br>
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00014-2139626741.png"> <br><br>
              </div>
            </div>
          </div>
        </div>
        <!-- Was kann das Wert sein? -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="col">
                <b>Wie kann das was Wert sein?</b><br><br>
                Einen Wert für Kryptowährungen festzulegen ist tatsächlich sehr schwierig, weil es sich um Etwas rein
                digitales handelt.
                Bei Gold z.B. ist das sehr einfach, weil das Material einen Wert der bestimmt werden kann. Wie macht man
                das aber
                bei einer Währung, die es nichteinmal in Echt gibt?<br><br>
                Einfach gesagt, wird der Preis bei Kryptowährungen allein von den Nutzern bestimmt.
                Jeder Nutzer entscheidet für sich selbst wieviel er bezahlen oder bekommen möchte.
                <b>Der Wert der Währung hängt also nur vom Markt ab</b> auf dem mit Kryptowährungen gehandelt wird.
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00114-4124486772.png">
              </div>
            </div>
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00173-4285041647.png">
              </div>
              <div class="col">
                <b>Hier sind ein paar wichtige Punkte, die den Wert beeinflussen:</b><br><br>
                <ol>
                  <li><b>Angebot und Nachfrage:</b> Wenn viele Leute eine Kryptowährung kaufen möchten und es
                    nicht so
                    viele davon gibt, steigt der Preis. Umgekehrt, wenn viele Leute ihre Währung verkaufen und nur
                    wenige kaufen wollen,
                    sinkt der Preis.</li><br>

                  <li><b>Nutzung:</b> Der Wert kann auch davon abhängen, wie nützlich die Kryptowährung ist. Einige
                    Kryptowährungen
                    haben spezielle Anwendungen oder Technologien, die sie wertvoller machen.</li><br>

                  <li><b>Marktstimmung:</b> Die Stimmung auf dem Markt spielt eine große Rolle. Wenn die Leute denken,
                    dass eine
                    Kryptowährung in Zukunft viel wert sein wird, kaufen sie mehr davon, dadurch steigt der Preis.
                  </li><br>

                  <li><b>Medien und Nachrichten:</b> Positive oder negative Berichte in den Nachrichten können den Wert
                    ebenfalls
                    beeinflussen. Wenn es viele gute Nachrichten über eine Kryptowährung gibt, steigt oft der Preis.
                    Schlechte Nachrichten können das Gegenteil bewirken.</li><br>

                  <li><b>Regulierungen:</b> Gesetze und Regeln in verschiedenen Ländern können den Wert beeinflussen.
                    Wenn ein Land
                    Kryptowährungen stark einschränkt oder verbietet, kann das den Wert senken.</li>
                </ol>
              </div>
            </div>
            <div class="row textbox">
              <div class="col">
                <b>Beispiele</b> <br><br>
                Um mal eine Vorstellung zu bekommen, wieviel verschiedene Kryptowährungen Wert sind, haben wir hier ein
                paar
                Beispiele für euch:<br><br>
                <ul>
                  <li>Die bekannteste Kryptowährung <b>Bitcoin</b>: Vor einem Jahr kostete 1 Bitcoin ganze 25.790€, heute ist
                    1 Bitcoin noch mehr wert, ganze 59.321€!</li><br>
                  <li>Auch weit verbreitet ist <b>Ethereum</b>: 1 Ethereum ist fast 3000€ wert.</li><br>
                  <li>Eine Währung die sich nicht so gut geschlagen hat: Der <b>Dogecoin</b> ist gerademal 15 Cent wert. </li><br>
                </ul>

              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00097-215807692.png">
              </div>
            </div>
          </div>
        </div>
        <!-- Was für Kryptowährungen gibt es? -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00180-4285041654.png">
              </div>
              <div class="col">
                <b>Es gibt viele verschiedene Kryptowährungen,</b><br> jede mit ihren eigenen Besonderheiten,
                verschiedenen Funktionen und Anwendungsarten. Bitcoin war die erste Kryptowährung und wurde 2009
                eingeführt.
                Bitcoin wurde geschaffen, um eine Art <b>digitales Geld</b> zu sein und <b>sichere und schnelle Transaktionen ohne
                eine Bank zu ermöglichen</b>. Bitcoin ist heute die bekannteste und am weitesten verbreitete Kryptowährung.
                <br><br>

                Ethereum hingegen bietet mehr als nur einfache Transaktionen. Es ermöglicht sogenannte "<b>Smart
                Contracts</b>":
                das sind Verträge, die ganz von alleine funktionieren, bei denen alle Details direkt in den Code
                programmiert wurden. Diese Funktion
                hat dazu geführt, dass viele andere Kryptowährungen und Projekte auf der Ethereum-Plattform basieren.
                <br><br>

                Ripple wurde speziell entwickelt, um besonders schnelle und kostengünstige Transaktionen über die ganze
                Welt zu ermöglichen. Es arbeitet eng mit Banken und der Finanzwelt zusammen, um deren Systeme zum
                bezahlen zu
                verbessern. <br><br>
              </div>
              <div class="row">
                <div class="col">
                  Litecoin ist eine schnellere und kostengünstigere Version von Bitcoin. Obwohl es viele ähnliche
                  Eigenschaften wie Bitcoin hat, werden Transaktionen bei Litecoin schneller verarbeitet. <br><br>

                  Cardano legt großen Wert auf die Wissenschaft und überprüfte Technologien. Es
                  wurde entwickelt, um besonders sicher und nachhaltig zu sein, was es von vielen anderen
                  Kryptowährungen unterscheidet. <br><br>

                  Polkadot ermöglicht es verschiedenen Blockchains, miteinander zu kommunizieren und Daten
                  auszutauschen. Diese Fähigkeit zum Verbinden und Kombinieren von verschiedenen Systemen macht Polkadot
                  besonders flexibel für
                  neue Kryptowährungen und Projekte. <br><br>

                  Zusammengefasst, jede Kryptowährung hat ihre eigene Technologie und ihren eigene Anwendung. Einige
                  sind für schnelle und kostengünstige Zahlungen gedacht, andere für komplexe Anwendungen wie Smart
                  Contracts
                  oder die Verbindung von verschiedenen Blockchains. Geschwindigkeit, Kosten und Sicherheit
                  sind überall ganz unterschiedlich, was jede Kryptowährung einzigartig macht.
                </div>
                <div class="imgbox">
                  <img class="img" src="..\assets\KI_Bilder\00101-402160487.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Gefahren -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="col">
                <b>Es gibt viele Gefahren und potenzielle Probleme bei Kryptowährungen, die man kennen sollte.</b><br> Eines
                der größten Risiken ist die hohe 
                <div class="tooltipword"><b>Volatilität</b>
                  <span class="tooltiptext"><b>volatil</b><br> schwankend, inkonsistent, wechselhaft</span>
                </div>
                Das bedeutet, dass die Preise von Kryptowährungen sehr
                stark schwanken können. An einem Tag kann ein Bitcoin viel wert sein, am nächsten Tag kann der Wert stark
                sinken. Diese Schwankungen können für Leute, die viel darin investieren, zu großen Verlusten
                führen.<br><br>

                Ein weiteres Problem ist die <b>Sicherheit</b>. Obwohl Kryptowährungen mit fortschrittlichen Techniken wie
                Kryptographie geschützt sind, gibt es immer wieder Fälle von <b>Hacks und Betrügereien</b>. Wenn jemand den
                Zugang zu deiner digitalen Geldbörse, der sogenannten <b>Wallet</b>, bekommt, kann er dein gesamtes Geld
                stehlen. Es gibt auch Betrugsmaschen, bei denen Leute überzeugt werden, in gefälschte
                Kryptowährungsprojekte zu investieren.<br><br>

                Ein drittes Problem sind <b>Regulierungen</b>. In vielen Ländern gibt es keine klaren Regeln für den Umgang mit
                Kryptowährungen. Das bedeutet, dass sich die gesetzlichen Bestimmungen schnell ändern können, was
                Unsicherheit schafft. Manchmal entscheiden sich Regierungen auch, Kryptowährungen ganz zu verbieten, was
                zu einem plötzlichen Wertverlust führen kann.<br><br>
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00103-402160489.png">
              </div>
            </div>
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00082-1104080993.png">
              </div>
              <div class="col">
                Die Nutzung von Kryptowährungen erfordert zudem <b>technisches Wissen</b>. Wenn man nicht genau weiß,
                wie man
                sicher mit ihnen umgeht, kann man leicht Fehler machen, die zu Verlusten führen. Zum Beispiel kann man
                seine Zugangsdaten verlieren oder sie an unsicheren Orten speichern.<br><br>

                Auch <b>Umweltprobleme</b> spielen eine Rolle. Besonders Bitcoin benötigt viel Energie für das
                sogenannte
                Mining, den Prozess, bei dem neue Münzen erzeugt und Transaktionen bestätigt werden. Das hat zu viel
                Kritik
                geführt, da der Energieverbrauch sehr hoch ist und negative Auswirkungen auf die Umwelt entstehen
                können.<br><br>

                Zusammengefasst gibt es bei Kryptowährungen <b>Risiken wie hohe Preisschwankungen, Sicherheitsprobleme,
                  fehlende Regulierungen, technische Herausforderungen und Umweltbelastungen.</b> Diese Punkte machen
                Kryptowährungen zu einer riskanten, aber auch potenziell lohnenden Technologie.
              </div>
            </div>
          </div>
        </div>