<div class="container">
  <h1 class="display-4 text">Kryptowährungen</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="true" (click)="setVisited('lektionen', 'currency', 'currency')">Was ist das?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false" (click)="setVisited('lektionen', 'currency', 'value')">Was kann das Wert
            sein?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false" (click)="setVisited('lektionen', 'currency', 'differences')">Gibt es mehr als eine Kryptowährung?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false" (click)="setVisited('lektionen', 'currency', 'dangers')">Gibt es da Gefahren?</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist das? -->

        <div class="tab-pane fade show active" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Noch mehr Krypto?</b> <br>
                Das Wort Kryptowährung kommt tatsächlich von der Kryptographie, denn hier geht spielt das Geheimhalten
                von Informationen eine riesen Rolle.
                Kryptowährungen gibt es viele, aber Eins haben sie alle gemeinsam. Kryptowährungen können nur im
                Computernetz verwendet werden, weil sie digitale Währungen sind.
                Man kann genauso wie mit Euro oder Dollar damit bezahlen, aber in der Hand halten kann man sie
                nicht.<br><br>

                Eine weitere Besonderheit der Kryptowährung ist, dass sie nur von der Öffentlichkeit abhängen, sie
                werden also von keinem Staat überprüft.
                Auch kann mit Kryptowährungen Geld verschickt werden, ohne dass man eine Überweisung über die Bank
                macht.
                Die Idee: eine freie und digitale Währung, die gleichzeitig auch komplett anonym ist.<br><br>
              </div>

              <div class="col">Video</div>
            </div>
            <div class="row">
              <div class="col">
                <b>Wie funktionieren Kryptowährungen?</b> <br>
                Kryptowährungen nutzen Blockchains. In einer Blockchain können sehr viele Informationen gespeichert
                werden.
                Das kann bei Kryptowährungen genutzt werden, um Transaktionen aufzuschreiben, also jeder Kauf/Verkauf
                wird in einen Block geschrieben.
                Durch einen Mechanismus wird sichergestellt, dass die Information auf jedem Computer auf dem gleichen
                Stand sind. So können die Infos nicht verändert werden.
                Außerdem sind die Daten dezentral gespeichert, also nicht nur an einem Ort, sondern auf ganz vielen
                Computern.
                <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- Was kann das Wert sein? -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                <b>Wie kann das was Wert sein?</b><br>
                Einen Wert für Kryptowährungen festzulegen ist tatsächlich sehr schwierig, weil es sich um Etwas rein
                digitales handelt.
                Bei Gold z.B. ist das sehr einfach, weil das Material einen bestimmten Wert hat. Wie macht man das aber
                bei etwas, das es nichteinmal in Echt gibt?
                Tatsächlich wird der Preis bei Kryptowährungen allein von den Nutzern bestimmt.
                Jeder, der kauft oder verkauft, entscheidet wieviel er selbst bezahlen oder bekommen möchte. Der Wert
                der Währung hängt also nur vom Markt ab.
                <br><br>
              </div>
              <div class="col">Video</div>
            </div>
            <div class="row">
              <div class="col">
                <b>Beispiele</b> <br>
                Um mal eine Vorstellung zu bekommen, wieviel verschiedene Kryptowährungen Wert sind, sind hier ein paar
                Beispiele für euch:
                <ul>
                  <li>Die bekannteste Kryptowährung "Bitcoin": Vor einem Jahr kostete 1 Bitcoin schon 25.790€, heute ist
                    1 Bitcoin aber ganze 59.321€ wert!</li>
                  <li>Auch weit verbreitet ist "Ethereum": 1 Ethereum ist fast 3000€ wert.</li>
                  <li>Eine Währung die sich nicht so gut geschlagen hat: Der Dogecoin ist gerademal 15 Cent wert. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">Text</div>
              <div class="col">Video</div>
            </div>
            <div class="row">
              <div class="col">Text</div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row">
              <div class="col">Text</div>
              <div class="col">Video</div>
            </div>
            <div class="row">
              <div class="col">Text</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
