<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- <footer>
  <div class="container text-center text footer">
    <div class="row row-cols-1 row-cols-lg-3 align-items-center">
      <div class="col">
        <a routerLink="/" routerLinkActive="router-link-active">Impressum</a>
      </div>
      <div class="col">
        <a routerLink="/" routerLinkActive="router-link-active">Datenschutzerklärung</a>
      </div>
      <div class="col">
        <a routerLink="/" routerLinkActive="router-link-active">Kontakt</a>
      </div>
    </div>
  </div>
</footer> -->
