<div class="container">
  <h1 class="display-4 text">Blockchain</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="uebung1-tab" data-bs-toggle="tab" data-bs-target="#uebung1-tab-pane" type="button" role="tab" aria-controls="uebung1-tab-pane" aria-selected="true">Übung 1</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung2-tab" data-bs-toggle="tab" data-bs-target="#uebung2-tab-pane" type="button" role="tab" aria-controls="uebung2-tab-pane" aria-selected="false">Übung 2</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung3-tab" data-bs-toggle="tab" data-bs-target="#uebung3-tab-pane" type="button" role="tab" aria-controls="uebung3-tab-pane" aria-selected="false">Übung 3</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="uebung1-tab-pane" role="tabpanel" aria-labelledby="uebung1-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="uebung2-tab-pane" role="tabpanel" aria-labelledby="uebung2-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="uebung3-tab-pane" role="tabpanel" aria-labelledby="uebung3-tab" tabindex="0">...</div>
      </div>

  </div>
</div>
