<div class="container">
  <h1 class="display-4 text">Blockchain</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="uebung1-tab" data-bs-toggle="tab" data-bs-target="#uebung1-tab-pane"
            type="button" role="tab" aria-controls="uebung1-tab-pane" aria-selected="true">Ein einzelner Block</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung2-tab" data-bs-toggle="tab" data-bs-target="#uebung2-tab-pane"
            type="button" role="tab" aria-controls="uebung2-tab-pane" aria-selected="false" (click)="blockChain()">Eine
            Reihe von Blöcken</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="uebung3-tab" data-bs-toggle="tab" data-bs-target="#uebung3-tab-pane"
            type="button" role="tab" aria-controls="uebung3-tab-pane" aria-selected="false">NONCE</button>
        </li>
      </ul>


      <!-- Übung 1: Ein Block-->

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="uebung1-tab-pane" role="tabpanel" aria-labelledby="uebung1-tab"
          tabindex="0">
          <div class="row">
            <p>In dieser Übung kannst du mit einem einzelnen Block einer Blockchain experimentieren. Aus der passenden
              Lektion weißt du ja schon, wie so ein Block aufgebaut ist. Wenn dir die Begriffe NONCE oder Hash noch
              nichts sagen, dann schau am besten noch einmal in der passenden Lektion nach. <br> Wenn du nun neue Daten
              in dem Block einträgst, dann ändert sich der Hash. Das siehst du daran, dass sich die das unterste Feld
              direkt ändert und dass der Block rot wird. Wenn du deine Daten fertig eingegeben hast, dann kannst du den
              neuen Hash berechnen lassen. <br> Probiere einmal verschiedene Daten aus. Fällt dir beim Hash etwas auf?
            </p>
          </div>
          <div class="container tabs">
            <form>
              <div class="box boxBlockChain"
                [ngClass]="{'boxBlockChainGreen': hashCorrect, 'boxBlockChainRed': !hashCorrect}">
                <div class="col">
                  <label class="label">Block #</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="1">
                </div>
                <div class="col">
                  <label class="label">Nonce</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{newNonce}}">
                </div>
                <div class="col">
                  <label class="label">Daten:</label>
                </div>
                <div class="col">
                  <textarea class="textarea w-100" (input)="onInput($event.target['value'])"></textarea>
                </div>
                <div class="col">
                  <label class="label">Vorgänger</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ prevHash }}">
                </div>
                <div class="col">
                  <label class="label">Hash</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{newHash}}">
                </div>
                <div class="col">
                  <button (click)="computeHash()" class="btn btn-primary button accent-color"
                    type="button">Berechne</button>
                </div>
              </div>
            </form>
          </div>
        </div>



        <!-- Übung 2: Mehrere Blöcke-->

        <div class="tab-pane fade" id="uebung2-tab-pane" role="tabpanel" aria-labelledby="uebung2-tab" tabindex="0">
          <div class="row">
            <p>Hier haben wir nun mehrere Blöcke miteinander verbunden. Das siehst du zum einen an der Nummerierung und
              zum anderen, dass der nachfolgende Block immer den Hash des Vorgängers in sich notiert hat. Probiere
              einmal aus, was passiert wenn du die Daten der Blöcke änderst. Probiere auch einmal aus, was passiert wenn
              du nur den ersten Block, nur den zweiten Block oder nur den dritten Block änderst. Fällt dir da etwas auf?
            </p>
          </div>
          <div class="container tabs">
            <form id="boxes">
              <div class="box boxBlockChain"
                [ngClass]="{'boxBlockChainGreen': hashCorrectBlockOne, 'boxBlockChainRed': !hashCorrectBlockOne}">
                <div class="col">
                  <label class="label">Block #</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{blockchainBlocks[0].index}}">
                </div>
                <div class="col">
                  <label class="label">Nonce</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[0].nonce }}">
                </div>
                <div class="col">
                  <label class="label">Daten</label>
                </div>
                <div class="col">
                  <textarea class="textarea w-100" (input)="onInputBlockOne($event.target['value'])"></textarea>
                </div>
                <div class="col">
                  <label class="label">Vorgänger</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[0].prevHash }}">
                </div>
                <div class="col">
                  <label class="label">Hash</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[0].hash }}">
                </div>
                <div class="control">
                  <button (click)="computeNonceBlockOne()" class="btn btn-primary accent-color"
                    type="button">Berechne</button>
                </div>
              </div>

              <div class="box boxBlockChain"
                [ngClass]="{'boxBlockChainGreen': hashCorrectBlockTwo, 'boxBlockChainRed': !hashCorrectBlockTwo}">
                <div class="col">
                  <label class="label">Block #</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{blockchainBlocks[1].index}}">
                </div>
                <div class="col">
                  <label class="label">Nonce</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[1].nonce }}">
                </div>
                <div class="col">
                  <label class="label">Daten</label>
                </div>
                <div class="col">
                  <textarea class="textarea w-100" (input)="onInputBlockTwo($event.target['value'])"></textarea>
                </div>
                <div class="col">
                  <label class="label">Vorgänger</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[1].prevHash }}">
                </div>
                <div class="col">
                  <label class="label">Hash</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[1].hash }}">
                </div>
                <div class="control">
                  <button [disabled]="disableButtonTwo" (click)="computeNonceBlockTwo()"
                    class="btn btn-primary accent-color" type="button">Berechne</button>
                </div>
              </div>

              <div class="box boxBlockChain"
                [ngClass]="{'boxBlockChainGreen': hashCorrectBlockThree, 'boxBlockChainRed': !hashCorrectBlockThree}">
                <div class="col">
                  <label class="label">Block #</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{blockchainBlocks[2].index}}">
                </div>
                <div class="col">
                  <label class="label">Nonce</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[2].nonce }}">
                </div>
                <div class="col">
                  <label class="label">Daten</label>
                </div>
                <div class="col">
                  <textarea class="textarea w-100" (input)="onInputBlockThree($event.target['value'])"></textarea>
                </div>
                <div class="col">
                  <label class="label">Vorgänger</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[2].prevHash }}">
                </div>
                <div class="col">
                  <label class="label">Hash</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ blockchainBlocks[2].hash }}">
                </div>
                <div class="control">
                  <button [disabled]="disableButtonThree" (click)="computeNonceBlockThree()"
                    class="btn btn-primary accent-color" type="button">Berechne</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Übung 3: NONCE Suche-->

        <div class="tab-pane fade" id="uebung3-tab-pane" role="tabpanel" aria-labelledby="uebung3-tab" tabindex="0">
          <div class="row">
            <p>Vielleicht ist dir in den anderen beiden Übungen in diesem Kapitel schon aufgefallen, dass der Hashwert
              immer mit mindestens 4 Nullen begonnen hat. Das haben wir ganz gezielt so eingestellt. In echten
              Blockchains wird das ganz genau so gemacht. Damit die ganzen Computer in einem Blockchain-Netzwerk nicht
              zu schnell neue Blöcke erstellen, werden gewisse Regeln festgelegt. In unseren Beispielen bislang haben
              wir festgelegt, dass der Hashwert mit mindestens 4 Nullen starten muss, sonst zählt er nicht. Der Computer
              nimmt nun also den Hashwert deiner eingetragenen Daten, die Nummer des Blocks und den Hashwert des
              vorherigen Blocks und fängt an zu rechnen. Wenn der Hashwert der dabei herauskommt nun aber nicht der
              Regel mit den 4 Nullen am Anfang entspricht, dann muss der Computer etwas tun. Hier kommt die NONCE ins
              Spiel. Unsere NONCE ist so programmiert, dass sie einfach von 1 hochzählt. Der Computer nimmt also nun
              alle Daten wie vorher auch und jetzt neu die NONCE, rechnet nochmal den Hashwert aus und schaut ob er
              diesmal Glück hatte mit den 4 Nullen am Anfang. Wenn nicht, dann probiert er es mit der 2 als NONCE, dann
              mit der 3, dann mit der 4 und so weiter... <br> Wenn du also bei uns auf der Seite siehst, dass die NONCE
              zum Beispiel 110309 ist, dann hat der Computer genau so viele Versuche gebraucht, bis er einen Hashwert
              gefunden hat, der mit 4 Nullen anfängt. <br> Hier kannst du nun einmal ausprobieren und die Regeln ändern.
              Im Block unten siehst du nach der Berechnung, wie lange der Computer gebraucht hat, um einen Hashwert zu
              finden, der passt. Probiere nach und nach alles einmal aus und schaue wie sich die NONCE und die Zeit
              verhalten. Bis zu einer Schwierigkeit von 5 schaffen es die meisten Computer noch innerhalb von Sekunden das
              auszurechnen. Bei einer Schwierigkeit von 6 kann das jedoch mehrere Minuten dauern, bis der Computer was
              passendes gefunden hat...</p>
          </div>
          <div class="container tabs">
            <div class="boxBlockChain">
              <div class="label">Schwierigkeit</div>
              <input (change)="getSliderValue($event)" id="sliderWithValue" class="slider" min="1" max="6" value="4"
                step="1" type="range">
              <output for="sliderWithValue">{{nonceComplexity}}</output>
            </div>

            <form>
              <div class="box boxBlockChain"
                [ngClass]="{'boxBlockChainGreen': hashCorrect, 'boxBlockChainRed': !hashCorrect}">
                <label class="label">Block #</label>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="1">
                </div>
                <div class="col">
                  <label class="label">Nonce</label>
                </div>
                <input disabled type="text" class="input w-100" value="{{newNonce}}">
                <div class="col">
                  <label class="label">Daten</label>
                </div>
                <textarea class="textarea w-100" (input)="onInput($event.target['value'])"></textarea>
                <div class="col">
                  <label class="label">Vorgänger</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{ prevHash }}">
                </div>
                <div class="col">
                  <label class="label">Hash</label>
                </div>
                <div class="col">
                  <input disabled type="text" class="input w-100" value="{{newHash}}">
                </div>
                <div class="row">
                  <div class="col">
                    <button (click)="compute()" class="btn btn-primary accent-color" type="button">Berechne</button>
                  </div>
                  <div class="col">
                    <p>Dauer:</p>
                    <p>{{ elapsed }}ms // {{ elapsed / 1000}}s</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
