<div class="container">
  <h1 class="display-4 text">Non-Fungible Tokens</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="true"
            (click)="setVisited('lektionen', 'nfts', 'nft')">Was ist ein Non-Fungible Token?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'usage')">Wofür kann man das gebrauchen?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'value')">Ist das was wert?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'dangers')">Wo liegen die Gefahren?</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist ein Non-Fungible Token? -->

        <div class="tab-pane fade show active" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                Ein Non-Fungible Token, kurz NFT, ist eine besondere Art von digitalem Zertifikat, das beweist, dass du
                der Eigentümer eines einzigartigen digitalen Objekts bist. „Non-Fungible“ bedeutet, dass es nicht
                austauschbar ist. Das heißt, jedes NFT ist einzigartig und kann nicht durch ein anderes ersetzt werden,
                im Gegensatz zu Dingen wie Bitcoins, die alle gleich sind und denselben Wert haben. <br><br>

                Stell dir vor, du hast ein seltenes Sammelbild von einem berühmten Künstler. Dieses Bild ist einzigartig
                und hat einen besonderen Wert, weil es nur einmal existiert. Ein NFT funktioniert ähnlich, aber in der
                digitalen Welt. Es kann ein digitales Kunstwerk, ein Musikstück, ein Videoclip oder sogar ein Tweet
                sein. <br><br>

                Wenn du ein NFT kaufst, kaufst du das Eigentumsrecht an diesem digitalen Objekt. Dieses Eigentumsrecht
                wird in einer speziellen Datenbank, der sogenannten Blockchain, gespeichert. Die Blockchain ist wie ein
                großes digitales Buch, das alle Transaktionen aufzeichnet und sicherstellt, dass niemand das Eigentum
                fälschen kann. <br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                Ein Beispiel, das vielleicht einfacher zu verstehen ist: Stell dir vor, du sammelst Fußballkarten. Jede
                Karte hat einen bestimmten Spieler und ist einzigartig. Du kannst sie gegen andere Karten tauschen oder
                verkaufen, aber jede Karte bleibt einzigartig und hat ihren eigenen Wert. NFTs sind wie digitale
                Fußballkarten. Jede hat ihren eigenen Wert und ist einzigartig, aber anstatt sie in einem Album zu
                sammeln, hast du sie in einer digitalen Wallet. <br><br>

                Zusammengefasst ist ein Non-Fungible Token ein einzigartiges digitales Zertifikat, das beweist, dass du
                der Besitzer eines bestimmten digitalen Objekts bist. Es wird auf einer Blockchain gespeichert und kann
                für digitale Kunst, Musik, Videos und andere einzigartige digitale Gegenstände verwendet werden.
              </div>
            </div>
          </div>
        </div>

        <!-- Wofür kann man das gebrauchen? -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                Non-Fungible Tokens (NFTs) finden in verschiedenen Bereichen Anwendung, weit über den Sammlermarkt
                hinaus. Ein bedeutender Bereich ist die Authentifizierung und Nachverfolgung von Eigentum oder
                Vermögenswerten. Zum Beispiel können Luxusuhren oder Kunstwerke mit einem NFT versehen werden, um ihre
                Echtheit zu bestätigen und ihren Wert zu erhöhen. Dadurch wird der Markt für gefälschte Produkte
                erschwert, da die Echtheit durch die einzigartige digitale Signatur des NFTs nachgewiesen werden
                kann.<br><br>

                Ein weiterer Einsatzbereich ist die Verwaltung von digitalen Identitäten. NFTs können verwendet werden,
                um digitale Identitäten zu erstellen und zu verifizieren, was in verschiedenen Bereichen wie der
                Zugangskontrolle, der Abstimmung oder der sicheren Authentifizierung von Personen nützlich sein
                kann.<br><br>

                In der Kunstwelt ermöglichen NFTs Künstlern neue Einnahmequellen und die direkte Interaktion mit ihren
                Fans, ohne die Notwendigkeit von Galerien oder Vermittlern. Künstler können digitale Kunstwerke
                erstellen und als NFTs verkaufen, wobei sie ihren Wert und ihre Einzigartigkeit durch die
                Blockchain-Technologie sichern.<br><br>
              </div>
              <div class="col">Video</div>
            </div>
            <div class="row">
              <div class="col">
                Im Gesundheitswesen könnten NFTs für die Verwaltung von Patientendaten verwendet werden, wobei jeder
                Patient eine eindeutige digitale Identität hat, die seine medizinische Geschichte und Behandlungen
                sicher und privat speichert. Dies könnte die Interoperabilität zwischen verschiedenen
                Gesundheitssystemen verbessern und die Patientenversorgung optimieren.<br><br>

                In der Logistik und Lieferkette können NFTs verwendet werden, um den Ursprung und die Echtheit von
                Produkten zu verfolgen, indem sie jedes Produkt mit einem eindeutigen digitalen Zertifikat versehen.
                Dies könnte dazu beitragen, Probleme wie Produktfälschungen, Rückrufe oder Lieferkettenunterbrechungen
                zu bekämpfen.<br><br>

                Zusammengefasst bieten NFTs eine Vielzahl von Anwendungsmöglichkeiten jenseits des Sammlermarktes. Sie
                können zur Authentifizierung von Eigentum und Vermögenswerten, zur Verwaltung von digitalen Identitäten,
                zur Schaffung neuer Einnahmequellen für Künstler, zur Verbesserung der Gesundheitsversorgung und zur
                Optimierung von Logistik- und Lieferkettenprozessen eingesetzt werden.
              </div>
            </div>
          </div>
        </div>

        <!-- Ist das was wert? -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                NFTs können definitiv einen Wert haben. Dieser Wert ergibt sich aus verschiedenen Faktoren. Zunächst
                einmal repräsentiert jedes NFT ein einzigartiges digitales Objekt. Diese Einzigartigkeit allein kann
                einen Wert schaffen, ähnlich wie bei physischen Sammlerstücken oder Kunstwerken. Darüber hinaus
                verwenden NFTs Blockchain-Technologie, um die Echtheit und das Eigentum digitaler Objekte zu
                garantieren. Dadurch können Käufer sicher sein, dass sie das Original besitzen und nicht eine Kopie. Die
                Bestätigung des Eigentums durch ein NFT kann den Wert eines digitalen Objekts erheblich
                steigern.<br><br>

                Einige NFTs sind von bekannten Künstlern oder haben eine besondere kulturelle Bedeutung, was ihren Wert
                erhöhen kann. Ähnlich wie bei physischen Kunstwerken kann die Bekanntheit des Künstlers oder die
                historische Bedeutung des Objekts den Preis beeinflussen.<br><br>

                Der Wert eines NFTs wird auch durch Angebot und Nachfrage bestimmt. Wenn viele Menschen ein bestimmtes
                digitales Objekt haben wollen, kann sein Wert steigen. Die Marktstimmung, einschließlich der
                Medienberichterstattung und des Hypes um bestimmte NFTs, kann ebenfalls den Preis beeinflussen.<br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                Einige NFTs bieten zusätzliche Nutzen oder Vorteile für den Besitzer, wie z. B. exklusive Inhalte,
                Zugang zu speziellen Events oder zukünftigen Einnahmen aus dem Verkauf des Objekts. Es ist wichtig zu
                beachten, dass der Wert von NFTs stark schwanken kann und nicht alle NFTs einen hohen finanziellen Wert
                haben. Einige sind mehr für den persönlichen Genuss oder die Unterstützung eines Künstlers gedacht,
                während andere als Investition betrachtet werden. Wie bei jedem Markt sollten potenzielle Käufer
                sorgfältig recherchieren und ihre eigenen Risiko- und Anlagestrategien berücksichtigen.
              </div>
            </div>
          </div>
        </div>

        <!-- Wo liegen die Gefahren? -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row row-cols-1 row-cols-lg-2">
              <div class="col">
                Manchmal können die Preise von NFTs sehr schnell steigen oder fallen. Das bedeutet, dass man viel Geld
                verlieren könnte, wenn man nicht vorsichtig ist. Wenn man zum Beispiel ein NFT für viel Geld kauft und
                dann der Wert sinkt, könnte man Geld verlieren.<br><br>

                Es gibt auch Sicherheitsrisiken. Das bedeutet, dass jemand versuchen könnte, dein NFT zu stehlen,
                entweder von deinem Computer oder von einer Webseite, auf der du es gekauft hast. Deshalb ist es
                wichtig, dass man aufpasst, wo man seine NFTs speichert und dass man sichere Webseiten verwendet.<br><br>

                Ein weiteres Problem ist, dass der Markt für NFTs noch nicht so gut geregelt ist wie andere Märkte, zum
                Beispiel der Markt für Aktien. Das bedeutet, dass es mehr Betrug geben könnte oder dass man nicht so gut
                geschützt ist, wenn etwas schiefgeht.<br><br>

                Manchmal kann es auch schwierig sein, ein NFT zu verkaufen, besonders wenn es nicht so beliebt ist oder
                wenn es bestimmte Einschränkungen hat, zum Beispiel dass man nur bestimmte Dinge damit tun kann. Das
                kann frustrierend sein, wenn man versucht, sein NFT loszuwerden.<br><br>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                Und schließlich gibt es auch ethische und rechtliche Fragen, besonders wenn es um Künstler und
                Urheberrechte geht. Einige Leute denken, dass NFTs den Wert der Kunst verringern könnten oder dass die
                Künstler nicht fair behandelt werden. Das sind alles Dinge, über die man nachdenken sollte, bevor man in
                NFTs investiert oder sie kauft.
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
