<div class="container">
  <h1 class="display-4 text">Non-Fungible Tokens</h1>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col text">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="lektion1-tab" data-bs-toggle="tab" data-bs-target="#lektion1-tab-pane"
            type="button" role="tab" aria-controls="lektion1-tab-pane" aria-selected="true"
            (click)="setVisited('lektionen', 'nfts', 'nft')">Was ist ein NFT?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion2-tab" data-bs-toggle="tab" data-bs-target="#lektion2-tab-pane"
            type="button" role="tab" aria-controls="lektion2-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'usage')">Wofür kann man das gebrauchen?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion3-tab" data-bs-toggle="tab" data-bs-target="#lektion3-tab-pane"
            type="button" role="tab" aria-controls="lektion3-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'value')">Ist das was wert?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="lektion4-tab" data-bs-toggle="tab" data-bs-target="#lektion4-tab-pane"
            type="button" role="tab" aria-controls="lektion4-tab-pane" aria-selected="false"
            (click)="setVisited('lektionen', 'nfts', 'dangers')">Wo liegen die Gefahren?</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <!-- Was ist ein Non-Fungible Token? -->

        <div class="tab-pane fade show active" id="lektion1-tab-pane" role="tabpanel" aria-labelledby="lektion1-tab"
          tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="col">
                <b>Non-Fungible Token</b> <br><br>
                Ein <b>Non-Fungible Token, kurz NFT</b>, ist eine digitale Urkunde. Diese Urkunde beweist, dass du
                der Eigentümer eines einmaligen digitalen Objekts bist. „Non-Fungible“ bedeutet, dass das Objekt nicht
                austauschbar ist. Das heißt, <b>jedes NFT gibt es also nur ein einziges Mal und hat einen eigenen Preis</b>.
                NFTs sind also ganz anders, als andere digitale Dinge, wie Bitcoins zum Beispiel, die alle gleich sind und denselben Wert haben. <br><br>

                Stell dir vor, du hast ein super seltenes Bild von einem berühmten Künstler. Dieses Bild ist einzigartig
                und hat einen besonderen Wert, weil es nur einmal auf der ganzen Welt existiert. Ein NFT funktioniert ähnlich, nur in der
                digitalen Welt. Dabei muss es aber nicht unbedingt um ein tolles Bild gehen.
                <b>Es kann ein digitales Kunstwerk, ein Musikstück, ein Videoclip oder sogar ein Tweet sein.</b><br><br>

                
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00013-2139626740.png"> <br><br>
              </div>
            
            <div class="row">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00093-215807688.png"> <br><br>
              </div>
              <div class="col">
                Noch ein anderes Beispiel:
                Stell dir vor, du sammelst Fußballkarten. Jeder Spieler hat seine eigene Karte.
                Du kannst sie gegen andere Karten tauschen oder
                verkaufen, aber jede Karte bleibt einzigartig und hat ihren eigenen Wert. NFTs sind wie digitale
                Fußballkarten. Jede hat ihren eigenen Wert und ist einzigartig, aber anstatt sie in einem Album zu
                sammeln, hast du sie in deiner digitalen <b>Wallet</b>. <br><br>

                <b>Wenn du ein NFT kaufst, kaufst du dir aber nicht das Objekt an sich, sondern nur das Recht, dieses digitale Objekt zu besitzen.</b> Dass du der Besitzer bist,
                wird in einer Datenbank gespeichert. Dafür wird wiedereinmal eine <b>Blockchain</b> verwendet. Die Blockchain ist wie ein
                großes digitales Buch, das alle Transaktionen aufschreibt und sicherstellt, dass niemand den Besitz
                vortäuschen kann. <br><br>

                <b>Zusammengefasst ist ein Non-Fungible Token also ein Beweis, dass du
                der Besitzer eines bestimmten digitalen Objekts bist.</b> Es wird auf einer Blockchain gespeichert und kann
                für digitale Kunst, Musik, Videos und andere einzigartige digitale Gegenstände verwendet werden.
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Wofür kann man das gebrauchen? -->

        <div class="tab-pane fade" id="lektion2-tab-pane" role="tabpanel" aria-labelledby="lektion2-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00098-215807693.png"> <br><br>
              </div>
              <div class="col">
                <b>Was macht man damit?</b><br>
                Non-Fungible Tokens (NFTs) finden in verschiedenen Bereichen Anwendung.
                <b>Am Häufigsten sind es Sammler</b>, welche die einzigartigen NFTs behalten wollen.
                Doch ein großer Bereich ist mittlerweile auch die Überprüfung von Eigentum.
                Zum Beispiel können Uhren oder Kunstwerke mit einem NFT versehen werden, um
                zu bestätigen, dass sie echt sind. Dadurch wird es schwieriger Fälschungen zu verkaufen.<br><br>

                NFTs können auch verwendet werden,
                um <b>digitale Identitäten zu erstellen und zu verifizieren</b>. Das kann in verschiedenen Bereichen wie der
                Zugangskontrolle und der sicheren Authentifizierung von Personen nützlich sein.<br><br>

                In der Kunstwelt ermöglichen NFTs Künstlern neue Arten Geld zu verdienen. <b>Künstler können ihre digitalen Kunstwerke
                als NFTs verkaufen, wobei sie ihren Wert und ihre Einzigartigkeit durch die
                Blockchain sichern.</b> Auch bieten NFTs die direkte Interaktion mit ihren
                Fans. So können Ausstellungen und Galerien einfach online aufgebaut werden. <br><br>
              </div>
            </div>
            <div class="row textbox">
              <div class="col">
                <b>Es geht mehr als nur Kunst!</b><br>
                <b>Im Gesundheitswesen</b> könnten NFTs für das sichere Speichern von Patientendaten verwendet werden. <b>Jeder
                Patient hätte eine digitale Identität</b>, die seine medizinische Situation und alle Behandlungen
                sicher und privat speichert. Dies würde das Zusammenarbeiten zwischen verschiedenen
                Ärzten oder Krankenhäusern verbessern und die Patientenversorgung optimieren.<br><br>

                <b>In der <div class="tooltipword">Logistik
                  <span class="tooltiptext">Logistik ist die Organisierung von Produkten, also wo sie gelagert werden, wie sie transportiert werden usw.</span>
                </div></b>
                können NFTs verwendet werden, <b>um den Ursprung und die Echtheit von
                Produkten zu verfolgen</b>, indem sie jedes Produkt mit einem eindeutigen digitalen Zertifikat versehen.
                Dies könnte dazu beitragen, Probleme wie Fälschungen, Rückrufe oder Unterbrechungen in
                <div class="tooltipword">Lieferketten
                  <span class="tooltiptext">Eine Lieferkette ist der ganze Weg, den ein Produkt zu dir braucht. Bspw. der Weg vom Schiff über ein Flugzeug und schließlich mit einem LKW bis zu dir</span>
                </div>  
                zu bekämpfen.<br><br>

                Zusammengefasst bieten NFTs viele Möglichkeiten sie Einzusetzen. Sie
                können zur <b>Überprüfung von Eigentum, zur Verwaltung von digitalen Identitäten,
                als Geldquelle für Künstler, zur Verbesserung der Gesundheitssystems und zur
                Optimierung von Logistik- und Lieferketten eingesetzt werden</b>.
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00096-215807691.png"> <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- Ist das was wert? -->

        <div class="tab-pane fade" id="lektion3-tab-pane" role="tabpanel" aria-labelledby="lektion3-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00102-402160488.png"> <br><br>
              </div>
              <div class="col">
                <b>Wie bildet sich der Wert eines NFTs?</b><br>
                NFTs können ganz unterschiedlich viel Wert sein. <b>Dieser Wert ergibt sich aus verschiedenen Faktoren.</b> Zunächst
                einmal spiegelt jedes NFT ein einzigartiges digitales Objekt wieder. <b>Diese Einzigartigkeit allein kann schon zu einem hohen Wert führen</b>, 
                so wie bei Sammlerstücken oder Kunstwerken. Darüber hinaus
                verwenden NFTs Blockchains, um zu Beweisen, dass sie echt sind und wem sie gehören.<br><br>

                <b>Einige NFTs sind von bekannten Künstlern oder haben eine besondere kulturelle Bedeutung</b>, das kann ihren Wert
                erhöhen. Ähnlich wie bei normalen Kunstwerken kann die Bekanntheit des Künstlers oder die
                historische Bedeutung des Objekts den Preis beeinflussen.<br><br>

              </div>
            </div>
            <div class="row textbox">
              <div class="col">
                Der Wert eines NFTs wird auch durch <b>Angebot und Nachfrage</b> bestimmt. Wenn viele Menschen Interesse haben, kann der Wert sehr viel höher sein.
                Die Stimmung der Leute auf dem Markt und auch die Medien, haben großen Einfluss auf den Preis.
                Manchmal reicht auch allein <b>ein Hype um ein bestimmtes NFT</b>, um den Preis in die Höhe zu schießen<br><br>

                <b>Einige NFTs bieten spezielle Vorteile</b> für den Besitzer, wie z.B.
                Zugang zu besonderen Events oder einen Anteil an den Einnahmen aus dem Verkauf des Objekts.<br><br>
              
                Ganz wichtig ist: <b>der Wert von NFTs kann sehr stark schwanken.</b><br>
                Nur wenige NFTs haben einen extrem hohen Wert, aber dieser kann sich auch sehr schnell ändern, genauso wie bei Kryptowährungen.
                Einige sind mehr für den Genuss oder die Unterstützung eines Künstlers gedacht,
                während andere eine richtige Investition sind.
                <b>Es besteht aber immer ein großes Risiko</b>, daher ist es besonders wichtig sich ganz genau zu informieren bevor man sein Geld dafür ausgibt.
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00115-4124486773.png"> <br><br>
              </div>
            </div>
          </div>
        </div>

        <!-- Wo liegen die Gefahren? -->

        <div class="tab-pane fade" id="lektion4-tab-pane" role="tabpanel" aria-labelledby="lektion4-tab" tabindex="0">
          <div class="container tabs">
            <div class="row textbox">
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00107-402160493.png"> <br><br>
              </div>
              <div class="col">
                <b>Warum sollte man aufpassen?</b><br><br>
                <b>Manchmal können die Preise von NFTs sehr schnell steigen oder fallen.</b> Auch NFTs sind sehr <div class="tooltipword"><b>volatil</b>
                  <span class="tooltiptext"><b>volatil</b><br> schwankend, inkonsistent, wechselhaft</span>
                </div>. Das bedeutet, dass man viel Geld
                verlieren könnte, wenn man nicht vorsichtig ist. Wenn man zum Beispiel ein NFT für viel Geld kauft und
                der Wert danach sinkt, kan man sein Geld verlieren.<br><br>

                Es gibt auch <b>Sicherheitsrisiken</b>. Das bedeutet, dass jemand versuchen könnte, dein NFT zu stehlen.
                Z.B. direkt von deinem Computer oder von einer Webseite, auf der du es gekauft hast. Deshalb sollte man seine <b>NFTs
                sicher speichern und nur sichere Webseiten verwenden.</b><br><br>
              </div>
              </div>
              <div class="row textbox">
                <div class="col">
                Ein weiteres Problem ist, dass der Markt für NFTs noch <b>nicht so gut geregelt ist wie andere Märkte</b>, wie beispielsweise bei Aktien.
                Das bedeutet, dass es öfter zu <b>Betrug</b> kommt oder dass man nicht so gut
                geschützt ist, wenn etwas schiefgeht.<br><br>

                Manchmal kann es auch schwierig sein, ein NFT loszuwerden. Besonders wenn es nicht so beliebt ist oder
                wenn es bestimmte Einschränkungen hat.<br><br>

                Und schließlich gibt es auch <b>ethische und rechtliche Fragen</b>, besonders wenn es um Künstler und deren
                <div class="tooltipword"><b>Urheberrechte</b>
                  <span class="tooltiptext">Bei Kunst und Musik usw. haben die Künstler besondere Rechte.
                    Das Urheberrecht gibt vor, dass die Kunst dem Künstler gehört und man nicht einfach so alles mögliche damit machen darf</span>
                </div>  geht. Einige Leute denken auch, dass NFTs den Wert der Kunst verringern könnten oder dass die
                Künstler nicht fair behandelt werden. Das sind alles Dinge, über die man nachdenken sollte, bevor man in
                NFTs investiert oder sie kauft.
              </div>
              <div class="imgbox">
                <img class="img" src="..\assets\KI_Bilder\00147-441163903.png"> <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
