/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';


:root {
  --primary_color: #0f0137;
  --secondary_color: #8cdede;
  --accent_color: #c94a4a;
  --text-color: #fff;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(170deg, #5835bd, #190c3c);
}

.text {
  color: var(--text-color);
  text-decoration: none;
}

.primary-color {
  background-color: var(--primary_color);
  color: var(--text-color);
}
.primary-color:hover {
 color: aliceblue;
}

.secondary-color {
  background-color: var(--secondary_color);
  color: var(--primary_color);
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

a:hover,
a:visited,
a:link,
a:active,
a.active {
  text-decoration: none;
  color: var(--text-color) !important;
}

.tabs {
  margin-top: 30px;
}

/* .flex-display {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-display-item {
  flex: 1;
} */

/*Änderungen an Bootstrap*/

.btn-primary {
  background-color: var(--accent_color);
  border-color: var(--accent_color);
}

.btn-primary:hover, .btn-primary:disabled {
  background-color: #672424;
  border-color: #672424;
}

.btn-secondary {
  background-color: var(--secondary_color);
  border-color: var(--secondary_color);
  color: black;
}

.btn_link:hover{
  background-color: #70b1b1;
  border-color: #70b1b1;
}

.navbar-toggler {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
  border-color: transparent;
}

.card {
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.3);
  border: none;
  transition: transform .4s;
  /*
  margin: 20px 20px 20px 20px; */
}

.card:hover {
  transform:scale(1.02);
}

.display-4 {
  margin-bottom: 30px;
}

button.nav-link, button.nav-link:hover {
  background-color: var(--accent_color);
  border-color: var(--accent_color);
  color: var(--text_color);
}

.list-group-item {
  border: none;
  background-color: var(--primary_color);
}

.nav-link.active {
  color: var(--text-color);
}

.btn-link:hover {
  color: var(--accent_color);
}

.danger {
  color: var(--secondary_color);
}

input:disabled {
  background-color: white;
  color: black;
}

.modal-content {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(170deg, #5835bd, #190c3c);
  border-color: #fff;
  color: var(--primary-text-color);
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}


.card.accent-color {
  background-color: var(--accent-color);
}
