<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="display-1 text"><b>Herzlich Willkommen</b></h1>
      <h4 class="welcome_text text">Willkommen auf unserer Website, dem Tor zur aufregenden Welt der Kryptografie,
        Blockchain, Kryptowährungen und
        NFTs! <br> <!-- Hier kannst du in die tiefen Gewässer dieser faszinierenden Technologien eintauchen. Unsere Seite ist
        darauf
        ausgerichtet, dir auf verständliche Weise die informatischen Aspekte dieser Innovationen näherzubringen. Von
        Grundlagen bis hin zu fortgeschrittenen Konzepten bieten wir interaktive Übungen, Lektionen und Abschlusstests
        an,
        um dein Verständnis für diese digitalen Errungenschaften zu vertiefen. <br> --> Bereit, den Code hinter der Zukunft
        zu
        knacken? Dann starte deine Entdeckungsreise hier!</h4>

      <h4 class="welcome_text text">
        Zu jeder Lektion gibt es auch eine passende Übung oder was zum ausprobieren. Am besten schaust du dir immer erst
        die Lektion an und machst danach die passende Übung, damit du das neu gelernte besser verstehst. Die Seiten der
        Lektionen und der Übungen sind identisch aufgebaut, damit du dich besser zurechtfinden kannst.
      </h4>
    </div>
  </div>

  <div class="container text-center">
    <div class="row g-3 row-cols-1 row-cols-sm-2 align-items-center">
      <div class="col">
        <a routerLink="/lektionen" routerLinkActive="router-link-active">
          <div class="card secondary-color">
            <h1 class="btn_link">Zu den Lektionen</h1>
          </div>
        </a>
      </div>
      <div class="col">
        <a routerLink="/uebungen" routerLinkActive="router-link-active">
          <div class="card secondary-color">
            <h1 class="btn_link">Zu den Übungen</h1>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class=" container">
    <hr>
  </div>

  <div class="container">
    <h1 class="display-4 text">Teste dein Wissen!</h1>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-lg-3 align-items-center">
      <div class="col">
        <div class="card primary-color card_test" style="padding: 20px; margin: 20px;">
          <img src="../assets/level1w.png" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Anfänger</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Starten</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card primary-color card_test" style="padding: 20px; margin: 20px;">
          <img src="../assets/level2w.png" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Profi</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Starten</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card primary-color card_test" style="padding: 20px; margin: 20px;">
          <img src="../assets/level3w.png" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Experte</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Starten</a>
          </div>
        </div>
      </div>
    </div>
  </div>
