<div class="container text-center">
  <div class="row align-items-center" *ngIf="!isLoggedIn">
    <div class="col">
      <h1 class="display-1 text"><b>Herzlich Willkommen</b></h1>
      <h4 class="welcome_text text">auf unserer Website, dem Tor zur aufregenden Welt der Kryptographie,
        Blockchain, Kryptowährungen und NFTs! Bereit, den Code hinter der Zukunft zu knacken? Dann starte deine
        Entdeckungsreise hier!</h4>

      <h4 class="welcome_text text">
        Die Lektionen sind in Kapitel unterteilt und die kannst du dir auch ohne dich anzumelden durchlesen. Wenn du
        dich aber anmeldest, dann erhälst du Zugriff auf spannende Übungen, Sachen zum ausprobieren, knifflige Tests und
        kannst sehen was du schon gemacht hast und was du dir noch nicht angeschaut hast. Klicke im Menü einfach auf
        "Anmelden", denke dir einen Nutzernamen und ein Passwort aus und schon geht's los! Wir wünschen dir ganz viel
        Spaß!
      </h4>
    </div>
  </div>

  <div class="row align-items-center" *ngIf="isLoggedIn">
    <div class="col">
      <h1 class="display-1 text"><b>Willkommen zurück! </b></h1>
      <h4 class="welcome_text text">Schön, dass du wieder da bist 😊</h4>

      <h4 class="welcome_text text">Was willst du heute tun? Ein wenig weiter in den Lektionen stöbern? Oder unsere
        coolen Übungen ausprobieren? Oder traust du dich schon an unsere kniffligen Quizzes? Auf jeden Fall wünschen wir
        dir viel Spaß!</h4>
    </div>
  </div>

  <div class="container text-center">
    <div class="row g-3 row-cols-1 row-cols-sm-2 align-items-center">
      <div class="col">
        <a routerLink="/lektionen" routerLinkActive="router-link-active">
          <div class="btn_link card secondary-color">
            <h1 class="btn_link">Zu den Lektionen</h1>
          </div>
        </a>
      </div>
      <div class="col" *ngIf="this.isLoggedIn">
        <a routerLink="/uebungen" routerLinkActive="router-link-active">
          <div class="btn_link card secondary-color">
            <h1 class="btn_link">Zu den Übungen</h1>
          </div>
        </a>
      </div>
      <div class="col" *ngIf="!this.isLoggedIn">
        <a routerLink="/login" routerLinkActive="router-link-active">
          <div class="card btn-primary text">
            <h1 class="btn-primary">Jetzt anmelden!</h1>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="this.isLoggedIn">
    <div class="container">
      <hr>
    </div>

    <div class="container">
      <h1 class="display-4 text">Teste dein Wissen!</h1>
    </div>

    <div class="container text-center">
      <div class="row row-cols-1 row-cols-lg-3 align-items-center">
        <div class="col">
          <div class="card primary-color card_test" [class.disabled]="!canStartBeginnerQuiz()"
            style="padding: 20px; margin: 20px;">
            <img src="../assets/level1w.png" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">Anfänger</h2>
              <p class="card-text">Wenn du mindestens 50 Coins verdient hast, kannst du das erste Quiz ausprobieren. Du
                kannst das Quiz so oft du magst wiederholen, es wird jedoch nur dein erster Versuch gespeichert. Schau
                dir also wirklich jede Lektion und Übung gut an, bevor du dich an das Quiz setzt.</p>
              <a [routerLink]="canStartBeginnerQuiz() ? '/quizzes/beginner' : null" class="btn btn-primary"
                [class.disabled]="!canStartBeginnerQuiz()">Starten</a>
              <p class="card-text" *ngIf="triedBeginner">Du hast {{pointsBeginner}} von 10 Fragen richtig beantwortet
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card primary-color card_test" [class.disabled]="!canStartProQuiz()"
            style="padding: 20px; margin: 20px;">
            <img src="../assets/level2w.png" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">Profi</h2>
              <p class="card-text">Wenn du mindestens 100 Coins verdient hast und das Anfänger-Quiz gemacht hast, kannst
                du dich am Profi-Quiz probieren. Auch hier wird nur dein erster Versuch gewertet, du kannst das Quiz
                jedoch so oft wiederholen, wie du magst.</p>
              <a [routerLink]="canStartProQuiz() ? '/quizzes/pro' : null" class="btn btn-primary"
                [class.disabled]="!canStartProQuiz()">Starten</a>
              <p class="card-text" *ngIf="triedPro">Du hast {{pointsPro}} von 10 Fragen richtig beantwortet
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card primary-color card_test" [class.disabled]="!canStartExpertQuiz()"
            style="padding: 20px; margin: 20px;">
            <img src="../assets/level3w.png" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">Experte</h2>
              <p class="card-text">Der ultimative Test wartet auf dich. Du hast mindestens 150 Coins gesammelt und die
                beiden anderen Quizzes erfolgreich absolviert? Dann versuche dich am ultimativen Quiz und werde zum
                Blockchain-Experten! Viel Erfolg!</p>
              <a [routerLink]="canStartExpertQuiz() ? '/quizzes/expert' : null" class="btn btn-primary"
                [class.disabled]="!canStartExpertQuiz()">Starten</a>
              <p class="card-text" *ngIf="triedExpert">Du hast {{pointsExpert}} von 10 Fragen richtig beantwortet
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
